body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.card {
    width: 276px;
    border: 1px solid lightgray;
    padding: 10px;
    border-radius: 16px;
}

.card-img {
    width: 100%;
    border-radius: 16px;
    height: 180px;
    object-fit: cover;
}

.flexbox {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}
.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* 
    justify-content: is used to horizontally move the flex elements 
     align-items: is used to vertically move the flex elements 
*/
